*.pdf
*.swp
*.aux
*.bbl
*.blg
*.log
*.toc
*.bcf
*.run.xml
0-abstract.tex
1-introduction.tex
3-architecture.tex 
5-scalability.tex
7-summary.tex
2-technology.tex
4-performance.tex
6-productivity.tex
*.out
*.svg
*.pdf_tex
.~lock*
*.docx
*.odt
*.html
*.lot
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.lot
*.lof
.vscode
.DS_Store
.DS_Store
